<div class="form-group">
  <%= form.label :away_teamable_id, "対戦相手" %>
  <span class="text-danger">※必須</span>
  <%= form.select :away_teamable_id,
    [["選択してください", nil]] +@teams_and_union_teams.collect {
      |team| [select_form_display_name(team), team.id]
    }, {},
    { class: "form-select team-select" }
  %>
  <%= form.text_field :away_team_name,
    class: "form-control team-text-field ",
    placeholder: "市外チーム名を入力してください"
  %>
</div>
