<div class="row">
  <div class="form-group col">
    <%= form.label :home_team_score %>
    <%= form.number_field :home_team_score, class: "form-control", min: 0 %>
  </div>

  <div class="form-group col">
    <%= form.label :away_team_score %>
    <%= form.number_field :away_team_score, class: "form-control", min: 0 %>
  </div>
</div>