<h1>試合情報編集</h1>

<%= render "form", game: @game, union_teams: @union_teams %>

<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to "戻る", admin_games_path, class: "btn btn-secondary mr-1 rounded" %>
  <%= link_to "詳細", [:admin, @game], class: "btn btn-success rounded" %>
</div>
