<% content_for(:page_title, @tournament.name) %>

<div id="inner" class="my-3">
    <p class="border-start border-dark border-5 ps-2 fw-bold"><%= @tournament.name %></p>
    <%= @tournament.article.content %>
</div>
