<div class="form-group">
  <label><%= label_text %></label>
  <%= render 'admin/shared/required', form: form, field: field %>
  <%= form.text_field field, class: 'form-control union-team-form' %>
</div>
