<h1>チームカテゴリー編集</h1>

<%= render "form", game: @team_category %>

<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to "戻る", admin_team_categories_path, class: "btn btn-secondary mr-1 rounded" %>
  <%= link_to "詳細", [:admin, @team_category], class: "btn btn-success rounded" %>
</div>
