<h1>チーム編集</h1>

<%= render "form", team: @team %>

<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to "戻る", admin_teams_path, class: "btn btn-secondary mr-1 rounded" %>
  <%= link_to "詳細", [:admin, @team], class: "btn btn-success rounded" %>
</div>
